.button {
    margin: 10px;
    background-color: rgb(177, 224, 238);
    opacity: 0.6;
    border: 1px solid black;
}

.button:hover {
    box-shadow: 0 0 3px;
}

.button.button-active {
    background-color: rgb(177, 224, 238);
    opacity: 1;
}