.translation-subcard {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: white;
}

.language-label {
    background-color: rgb(195, 240, 184);
    border-radius: 20% / 50%;
    padding: 1px 5px;
    margin-right: 5px;
}

.translation-text {
    margin-bottom: 10px;
}